{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="container" style="height:400px;background:white no-repeat center/60% url('{{user.user_img.url}}');">
    <div class="row align-items-center h-100">
        <div class="col-9 mx-auto">
            <div class="bg-dark" style="opacity: 0.5;">
                <div class="text-center text-light">
                    <h1 class="text-capitalize">{{user.first_name}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-light text-uppercase text-center">
    <p class="col-9 mx-auto m-3 p-2 bg-light">{{user.email}}</p>
</div>

{% endblock %}



