{% extends 'main.html' %}

{% block title %}Login{% endblock %}

{% block nav %}
{% if user.is_authenticated %}
    Hi {{ user.email }}!
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_login' %}">Log In</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h2>Sign Up</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Sign Up</button>
</form>
{% endblock %}