{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container">
    <ul class="text-light">
        <li>Hébergeur : HEROKU Inc. – 650 7th Street San Francisco, CA USA.</li>
        <li>Thème : Thème téléchargé depuis le site "startbootstrap.com".</li>
        <li>Icone "Mes favoris" : Création de Fabien Jouin, depuis Noun Project ("thenounproject.com").</li>
        <li>Image de fond : Photo de Kawin Harasai depuis Unsplash ("unsplash.com").</li>
        <li>Icônes "Mon profil", "Se connecter", "Se déconnecter": Icônes téléchargées depuis le site
            "icon-icons.com".
        </li>
    </ul>
</div>
{% endblock %}