{% extends 'main.html'%}
{% load static %}
{% block nav %}
{% if user.is_authenticated %}
<p><a href="{% url 'account_logout' %}"><img src="{% static 'assets/img/icones/logout.png' %}"></a></p>
{% else %}
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_login' %}">
    <img src="{% static 'assets/img/icones/login.png' %}"></a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_signup' %}">
    <img src="{% static 'assets/img/icones/signup.png' %}"></a></li>
{% endif %}
{% endblock %}
{% block content %}
<br>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<ul>
    {% if favorites %}
    {% for loop in favorites %}
    <li> {{loop.product}} {{loop.date}}</li>
    {% endfor %}
    {% else %}
    Vous n'avez pas de produits favoris.
    {% endif %}
    TEST
    {{ request_user }}
    TEST

</ul>


{{ user.email }} <br>
{{ current_user }}
{% endblock %}