{% extends 'main.html'%}
{% load static %}

{% block nav %}
{% if user.is_authenticated %}
<p><a href="{% url 'account_logout' %}">
    <img src="{% static 'assets/img/icones/logout.png' %}"></a>
</p>
{% else %}
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_login' %}">
    <img src="{% static 'assets/img/icones/login.png' %}"></a>
</li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_signup' %}">
    <img src="{% static 'assets/img/icones/signup.png' %}"></a>
</li>
{% endif %}
{% endblock %}

{% block content %}
{{url_product}}
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="{{url_product}}" allowfullscreen></iframe>
</div>
{% endblock %}
