{% extends 'main.html'%}
{% load static %}

{% block nav %}
{% if user.is_authenticated %}
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'favorite_product' %}">
    <img src="{% static 'assets/img/icones/carrot.png' %}"></a></li>
<li><a href="{% url 'account_logout' %}">
    <img src="{% static 'assets/img/icones/logout.png' %}"></a>
{% else %}
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_login' %}">
    <img src="{% static 'assets/img/icones/login.png' %}"></a></li>
<li class="nav-item"><a class="nav-link js-scroll-trigger" href="{% url 'account_signup' %}">
    <img src="{% static 'assets/img/icones/signup.png' %}"></a></li>
{% endif %}
{% endblock %}

{% block content %}
Icone carotte <br>
verifier image background <br>

{% endblock %}