{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="row">
    {% if product %}
    {% for loop in product %}
    <!-- feaure box -->
    <div class="col-sm-2 col-lg-4" id="box_product">
        <div class="feature-box-1 ">
            <div class="icon">
                {{loop.nutriscore}}
            </div>
            <div class="rounded"
                 style="background:#343A40 url('{{loop.url_image}}') no-repeat center"
                 id="product_picture">

            </div>
            <div class="">
                <div>
                    <h5 class="col text-dark text-center">
                        <form id="produrl" method="POST" action="{% url 'info_product' %}">
                            {% csrf_token %}
                            <input type="hidden" name="prod_id" value="{{ loop.id_product }}">
                            <button class="btn btn-link text-dark" value="submit">
                                <p style="height:25px;overflow: hidden;">{{ loop.name }}</p>
                            </button>
                        </form>
                    </h5>
                </div>
                <div class="col">
                    <p>
                        {% if user.is_authenticated %}
                            {% if loop.active == True %}
                            <button class="btn btn-outline-dark btn-block" type="submit" disabled>
                                <img class="mr-2 "
                                     src="{% static 'assets/img/icones/save_prod.png' %}">Sauvegarder
                            </button>
                            {% else %}
                            <form id="prodfav" method="POST" action="{% url 'favorite_save' %}">
                                {% csrf_token %}
                                <input type="hidden" name="favprod" value="{{ loop.id_product }}">
                                <button class="btn btn-outline-dark btn-block" type="submit">
                                    <img class="mr-2 "
                                         src="{% static 'assets/img/icones/save_prod.png' %}">Sauvegarder
                                </button>
                            </form>
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- / -->
    {% endfor %}
    {% else %}
    <div class="container">
        <div class="text-warning text-center m-5">Il n'y a pas de proposition pour : {{test_prod}}.
            <form action="{% url 'home' %}">
                {% csrf_token %}
                <input type="hidden">
                <button class="btn btn-default btn-outline-warning btn-center m-2" type="submit">
                    retour à la page d'accueil
                </button>
            </form>
        </div>

    </div>
    {% endif %}
</div>
{% endblock %}